<div id="<%= dom_id user_session %>">
  <p>
    <strong>Username:</strong>
    <%= user_session.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user_session.password %>
  </p>

</div>
