<h1>Editing user session</h1>

<%= render "form", user_session: @user_session %>

<br>

<div>
  <%= link_to "Show this user session", @user_session %> |
  <%= link_to "Back to user sessions", log_in_path %>
</div>
